body {}

h1 {
  font-size: 2rem;
}

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: var(--color);
}

.checkbox__input {

  input {
    opacity: 0;
    width: 1em;
    height: 1em;
  }

}

.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}

.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
}
